# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages used by Data Scientists.
* List of common libraries used by Data Scientists.
* List of some Data Science tools.
* Performing mathematical operations.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Keras

| Data Science Tools 
| :---
| Jupyter lab 
| Apache zippelin 
| R Studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rawan Saad Alnefaie